@import 'node_modules/bootstrap/scss/bootstrap';

$myColor: #fff;


body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
}

.main {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

// ul {
//   display: flex;
//   flex-direction: row;
// }





section {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding-top: 150px;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  scroll-snap-align: center;
  h1 {
    font-size: 4rem;
    color: #665544;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  &#home {
  	background: url("bg.jpg") no-repeat center;
  	background-size: cover;
  	position: relative;
    justify-content: flex-end;
    display: none;
  }

  &#about {
    background-color: #fff;
    display: block;
  }

  &#skills {
    background-color: #223456;
    display: block;
  }

  &#companies {
    background-color: #555;
    display: block;
  }

  &#portfolio {
    background-color: #442222;
    display: block;
  }
  &#blog {
    background-color: #555666;
    display: block;
  }

  &#contact {
    background-color: #456734;

  }

}
.socilaIcons {
  background-color: #fff;
  display: flex;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.menuColumn {
  display: none;
}

section.about1, section.about2 {

}








@media (max-width:991px) {


  .navbar ul a {
  display:flex;
  justify-content: center;

  }
}
